.about
	padding-top: 76px
	padding-bottom: 77px
	&-block
		margin-top: 67px
		display: flex
		&__descr
			flex: 0 0 50%
			max-width: 50%
			margin-right: 30px
		&__text
			p
				text-align: justify
		&__video
			flex: 0 0 50%
			max-width: 50%
			justify-content: flex-end
		&__directions
			display: flex
			&:last-child
				.direction-backgroung
					background-color: #7e66e7

.direction
	&-text
		font-family: "Proxima Nova"
		font-size: 18px
		font-weight: 700
		line-height: 30px
	&-backgroung
		height: 51px
		width: 263px
		background-color: #1991d4
		z-index: 0
	&-img
		img
			z-index: 3