.footer
	position: relative
	padding-top: 45px
	background: url(../img/bg-footer.png) center no-repeat
	background-size: cover
	&-bottom
		padding-top: 30px
		padding-bottom: 30px
		border-top: 2px solid $form-border-color
		color: $light-text-color
		text-align: center
		font-family: "Open Sans"
		font-size: 13px
		font-weight: 300
		line-height: 17px