$logo-width: 165px
$logo-heght: 43px

.header-footer
	display: flex
	justify-content: space-between
	&-logo
		flex: none
		display: block
		margin-right: 59px
		background: url(../img/logo.png) center no-repeat
		background-size: 100%
		width: $logo-width
		height: $logo-heght
		&-block
			display: flex
			justify-content: flex-start
			align-items: center
	&-slogan
		color: $light-text-color
		font-size: 16px
		font-weight: 400
		line-height: 22px
	&-contacts
		display: flex
		justify-content: flex-end
		align-items: center
		&__text
			margin-right: 29px
			&_questions
				color: $light-text-color
				text-align: right
				display: block
				font-size: 14px
				font-weight: 300
				line-height: 22px
			&_phone
				font-family: "Roboto"
				color: $light-text-color
				text-align: right
				font-size: 19px
				font-weight: 700
				line-height: 12px
				a
					text-decoration: none
					color: $light-text-color
		&__button
			button
				padding: 11px 25px
				font-size: 14px
				font-weight: 700
				line-height: 22.04px

@media (max-width: 1024px)
	.header-footer-slogan 
		display: none
	.main-block-descript
		margin-bottom: 20px
		text-align: center
	.main-block
		flex-direction: column

@media (max-width: 768px)
	.header-footer
		margin-bottom: 50px
	.header-footer-logo
		width: $logo-width*0.75
		height: $logo-heght*0.75
	.header-footer-contacts__text_phone
		font-size: 14px
		line-height: 14px
	.header-footer-contacts__button 
		button
			padding: 9px 20px;
			font-size: 11px;
			font-weight: 700;
			line-height: 22.04px;


@media (max-width: 482px)
	.header-footer-contacts__text_phone
			font-size: 12px
	.header-footer-contacts__text
			flex-grow: 1

@media (max-width: 482px)
	.header-footer-logo
		width: $logo-width*0.5
		height: $logo-heght*0.5
	.header-footer-contacts__text_phone
		font-size: 12px
		line-height: 12px
	.header-footer-contacts__button 
		button
			padding: 10px 12px
			font-size: 11px
			font-weight: 700
			line-height: 15.04px


@media (max-width: 424px)
	.header-footer-logo
		width: $logo-width*0.4
		height: $logo-heght*0.4
		margin-right: 0
	.header-footer-contacts
		justify-content: flex-start

@media (max-width: 377px)
	.header-footer-contacts__text_questions
		display: none
	.header-footer-contacts__text_phone
		font-size: 11px
		line-height: 11px
	.header-footer-logo
		width: $logo-width*0.3
		height: $logo-heght*0.3
	.header-footer-contacts__text
		margin-right: 6px