$form-border-color: rgba(#fff,.5)

.main
	position: relative
	color: #fff
	padding-top: 59px
	padding-bottom: 63px
	background: url(../img/bg-first-screen.png) center no-repeat 
	background-size: cover
	&-arrow
		&-block
			margin-top: 40px
			display: flex
			justify-content: center
			align-items: center

.main-block
	margin-top: 89px
	display: flex
	justify-content: space-between
	align-items: center
	&-descript
		margin-top: -26px
		flex-basis: 76%
		&__title
			margin-bottom: 25px
			font-size: 48px
			font-weight: 700
			line-height: 24px
		&__subtitle
			font-family: "Proxima Nova Semibold", sans-serif
			margin-bottom: 11px
			font-size: 24px
			font-weight: 400
			line-height: 24px
		&__text
			margin-bottom: 33px
			font-size: 18px
			font-weight: 300
			line-height: 24px
		&__button
			button
				padding: 17px 37px
				font-size: 16px
				font-weight: 700
				line-height: 25.47px
	&-form
		overflow: hidden
		text-align: center
		&-wrap
			padding-top: 34px
			padding-left: 30px
			padding-right: 30px
			padding-bottom: 36px
			border: 2px solid $form-border-color
			border-bottom: none
		&__title
			margin-bottom: 7px
			font-size: 22px
			font-weight: 700
			line-height: 24px
			text-transform: uppercase
		&__text
			margin-bottom: 34px
			font-size: 16px
			font-weight: 400
			line-height: 21px
		&__input
			flex: none
			display: block
			// width: 301px
			// height: 49px
		&__button
			button
				position: relative
				display: inline-block
				transform: translateY(-85%)
				margin-top: 20px
    padding: 15px 29px
				font-size: 15px
				font-weight: 700
				line-height: 25.47px
				&::before,&::after
					content: ""
					position: absolute
					top: 50%
					width: 9999px
					height: 2px
					background: $form-border-color
				&::before
					right: 100%
					margin-right: 15px

				&::after
					left: 100%
					margin-left: 15px

@media (max-width: 768px)
	.main-block-descript__title
		font-size: 40px
  font-weight: 700
  line-height: 34px

@media (max-width: 540px)
	.main-block
		&-descript
			&__title
				margin-bottom: 15px
				font-size: 30px
				font-weight: 700
				line-height: 24px
			&__subtitle
				margin-bottom: 11px
				font-size: 20px
				font-weight: 400
				line-height: 20px
			&__text
				margin-bottom: 22px
				font-size: 18px
				font-weight: 300
				line-height: 24px
			&__button
				button
					padding: 10px 25px
					font-size: 14px
					font-weight: 700
					line-height: 25.47px

@media (max-width: 487px)
	.main-block-descript__text
		font-size: 14px
	.main
		padding-bottom: 17px
	.main-block
		margin-top: 60px 
		
@media (max-width: 434px)
	.main-block
		&-form
			&-wrap
				padding: 0
				border: none
			&__title
				margin-bottom: 7px
				font-size: 18px
				font-weight: 700
				line-height: 20px
				text-transform: uppercase
			&__text
				margin-bottom: 15px
				font-size: 12px
				font-weight: 400
				line-height: 15px
			&__button
				button
					margin-right: auto
					margin-left: auto
					display: block
					transform: none
					margin-top: 8px
					padding: 13px 24px
					font-size: 13px
					font-weight: 700
					line-height: 25.47px
					&::before,&::after
						content: none
	.main-block-form__input
		width: 268px