.slogan
	position: relative
	padding-top: 86px
	padding-bottom: 82px
	background: url(../img/bg-slogan.png) center no-repeat 
	background-size: cover
	&-block
		display: flex
		justify-content: space-around
	&-button
		padding: 20px 35px
	&-text
		color: $light-text-color 
		&__title
			font-family: "Proxima Nova Semibold"
			font-size: 26px
			font-weight: 400
			line-height: 24px
			text-transform: uppercase
		&__subtitle
			font-family: "Proxima Nova"
			font-size: 18px
			font-weight: 300
			line-height: 28px

@media (max-width: 768px)
	.slogan-text__title
		font-size: 20px
		line-height: 20px
	.slogan-text__subtitle
		font-size: 15px
		line-height: 22px
	.slogan-button
		padding: 13px 19px
		button
			font-size: 13px
			line-height: 14px

@media (max-width: 768px)
	.slogan-block
		flex-direction: column
		justify-content: center
		align-items: center
		align-content: center
	.slogan-button
		margin-top: 15px
	.reasons
		padding-top: 50px
		padding-bottom: 52px