$btn-color: #ffdc38
$btn-hover-color: #ffbb38
$main-text-color: #5b5b5b
$dark-text-color: #202020
$light-text-color: #fff
$background-color: #f4f9fb


@import 'fonts'
@import 'interface'
@import 'header'
@import 'main'
@import 'about'
@import 'skills'
@import 'reason'
@import 'slogan'
@import 'slider'
@import 'feedback'
@import 'other'
@import 'question'
@import 'contaсts'
@import 'footer'
@import 'popup'


/* MODAL SECTION */
.overlay-wrap,.thanks-wrap,.sertificate-wrap
	display: none
.overlay,.thanks,.sertificate-big
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	align-content: center
	position: fixed
	color: $light-text-color 
	top: 0
	width: 100%
	height: 100%
	z-index: 120

.popup-block-form
	width: 360px
	margin-right: auto
	margin-left: auto

.sertificate-block-form
	width: 545px

.popup-block-form-wrap
	position: relative

.popup,
	&-close
		margin-top: 11px
		margin-right: 11px
		position: absolute
		right: 0
		top: -12px
		font-size: 35px
		font-weight: 300
		color: $light-text-color 
		cursor: pointer