$btn-color: #ffdc38
$btn-hover-color: #ffbb38
$main-text-color: #5b5b5b
$dark-text-color: #202020
$light-text-color: #fff
$background-color: #f4f9fb


@import 'fonts'
@import 'interface'
@import 'header'
@import 'main'
@import 'about'
@import 'skills'
@import 'reason'
@import 'slogan'
@import 'footer'


.other
	&s-block
		text-align: center
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&-button
		padding: 17px 52px

.other
	&s
		background-color: $background-color
	&__button
		button
			padding: 17px 52px
	&-service
		// margin: 0 15px
		padding-bottom: 29px
		padding-top: 9px
		padding-right: 10px
		padding-left: 10px
		background-color: #fff
		border: 1px solid #eeedee
		&__title
			margin-top: 35px
			color: $dark-text-color
			font-family: "Proxima Nova Semibold"
			font-size: 20px
			font-weight: 400
			line-height: 22px
		&__text
			margin-top: 26px
			margin-bottom: 29px
			font-family: "Proxima Nova"
			font-size: 16px
			font-weight: 300
			line-height: 22px
					

.feedback
	text-align: center
	&-slider
		text-align: center
		&__item
			margin-left: auto
			margin-right: auto
			width: 200px
		&__photo
			margin-left: auto
			margin-right: auto
			text-align: center
			width: 200px
			img
				margin-left: auto
				margin-right: auto
		&__name
			margin-top: 17px
			margin-bottom: 7px
			color: $dark-text-color
			font-family: "Proxima Nova Rg"
			font-size: 18px
			font-weight: 700
		&__descr
			margin-bottom: 22px
			color: #404040
			font-family: "Proxima Nova"
			font-size: 16px
			font-weight: 300
			line-height: 22px
		&__text
			margin-left: auto
			margin-right: auto
			max-width: 744px
			font-family: "Proxima Nova"
			font-size: 16px
			font-weight: 300
			line-height: 22.14px
			p
				margin-bottom: 22px
	&__button
		padding: 22px 48px

.questions
	position: relative
	padding-bottom: 76px
	background: url(../img/bg-questions.png) center no-repeat
	background-size: cover
	text-align: center
	&-title
		color: $light-text-color 
		&::after
			margin-top: 12px
			content: '' 
			display: block
			height: 1px
			background: url(../img/icon-line-white.png) center no-repeat
	&-block
		&__text
			color: $light-text-color 
			text-align: center
		&__form
			margin-top: 33px
		&__inputs
			display: flex
			justify-content: center
		&__input:first-child
			margin-right: 10px
		&__button
			margin-top: 19px
	&__button
		padding: 20px 38px


.contacts
	&__map
		margin-right: 50px
	&-block
		display: flex
		align-items: center
	&-text
		&__title
			margin-top: 32px
			margin-bottom: 10px
			color: $dark-text-color
			font-family: "Proxima Nova Semibold"
			font-size: 18px
			font-weight: 400
			line-height: 22px
		&__title:first-child
				margin-top: 0
		&__text
			color: #202020
			font-family: "Proxima Nova"
			font-size: 16px
			font-weight: 400
			line-height: 22px
			a
				text-decoration: none
				color: $dark-text-color
		&__content
			display: flex
			align-items: center
		&__icon
			margin-right: 12px
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			width: 29px
			height: 29px
			background-color: #1991d4
			background-image: linear-gradient(45deg, #1c8fd4 0%, #7e66e7 100%)
			border-radius: 50px
	&__button
		padding: 17px 30px  

/* СТРЕЛКИ СЛАЙДЕРА */
$slider-arrow-width: 18px
$slider-arrow-height: 40px

/* высчитывание положений стрелок */

$main-slider-width: 0
$feedback-img-size: 128px
$slider-arrow-top: ($feedback-img-size / 2) - ($slider-arrow-height/2)
$slider-arrow-left-right: 35%

.slider-arrow
	cursor: pointer
	position: absolute
	top: $slider-arrow-top
	height: $slider-arrow-height
	width: $slider-arrow-width
	z-index: 6
	&__right
		right: $slider-arrow-left-right
		background: url(../img/arrow_next.png) center no-repeat
	&__left
		left: $slider-arrow-left-right
		background: url(../img/arrow_prev.png) center no-repeat

.slick-track
	width: 500px

/* MODAL SECTION */
.overlay-wrap,.thanks-wrap,.sertificate-wrap
	display: none
.overlay,.thanks,.sertificate-big
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	align-content: center
	position: fixed
	color: $light-text-color 
	top: 0
	width: 100%
	height: 100%
	z-index: 120

.popup-block-form
	width: 360px
	margin-right: auto
	margin-left: auto

.sertificate-block-form
	width: 545px

.popup-block-form-wrap
	position: relative

.popup,
	&-close
		margin-top: 11px
		margin-right: 11px
		position: absolute
		right: 0
		top: -12px
		font-size: 35px
		font-weight: 300
		color: $light-text-color 
		cursor: pointer